@model IEnumerable<Capstone.Models.OrderModel>

@{
    ViewBag.Title = "Index";
}

<h2>Order History</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderId)
        </th>
        <th>
            "Date"
        </th>
        <th>
            "No. of Badges"
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderId)
        </td>
        <td>
            @Html.ActionLink("View Order", "Edit", new { id=item.orderId }) |
            
        </td>
    </tr>
}

</table>
